*{
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 250, 250);
  object-fit: cover;
}
/* Upper part */
::-webkit-scrollbar{
  width:5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background: rgb(0, 0, 0);
  border-radius: 5px;
}
.logo{
  width: 80px;
  height: 70px;
  margin-top: 10px;
  cursor: pointer;
}
.up-left a{
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
 .mark{
  font-size: 1.6em;
  text-align: left;
  margin-left: 70px;
  margin-top: -58px;
  cursor: pointer;
}
.up-left{
  text-decoration: none;
  margin-left: 20px;
}
.up-right{
 text-align: right;
 margin-right: 60px;
 margin-top: -65px;
}
button{
  width: 90px;
  height: 40px;
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
  background-color: black;
  color: white;
  justify-content: space-between;
}
button a{
  background-color: black;
  color: white;
}
button:hover{
  cursor: pointer;
}
.banner{
 text-align: right;
 width: 100%;
 background-color: black;
 height: 40px;
 border-radius: 20px;
}
.banner p {
 display: inline-block;
 font-size: 75%;
 color: white;
 background-color: black;
 margin-right: 215px;
 cursor: pointer;
}
.banner a{
  text-decoration: none;
  background-color: black;
  font-size: 105%;
  color: white;
}
.banner a:active,.banner a:visited,.banner a:focus,.park a:active,.park a:visited,.park a:hover{
  text-decoration: underline;
}
/* Site content */
.content img{
  height: 250px;
  width: 450px;
  border-radius: 10px;
  object-fit: cover;
  display: flex;
  box-shadow: 10px 10px 20px 0px #aaa;
}
.park{
  margin-left:120px;
  margin-top: 50px;
  display: flex;
}
.park p{
  margin-top: 120px;
  margin-left: 30px;
}
.beach{
  margin-top: 60px;
  margin-left: 650px;
}
.beach p{
  margin-top: -160px;
  margin-left: -500px;
  display: flex;
  width: 400px;
}
.plate{
  margin-top: 150px;
  margin-left: 150px;
}
.plate p{
  margin-top: -180px;
  display: flex;
  margin-left: 500px;
}
.desc{
  font-size: 1.3em;
}
hr{
  background-color: black;
  height: 3px;
  border-radius: 5px;
  width: 800px;
}
.look{
  text-align: center;
  margin-left: -130px;
}
.search{
  text-align: center;
  align-items: center;
  margin-top: 50px;
  margin-left: -10px;
}
.search img{
  object-fit: cover;
  width: 25px;
  height: 25px;
  box-shadow: none;
  margin-bottom: -35px;
  margin-left: 870px;
  display: flex;
  cursor: pointer;
}
.search .input{
  width: 430px;
  height: 20px;
  border-radius: 50px;
  background-color: black;
color: whitesmoke;
border-color: black;
padding: 10px;
}
.range {
display: flex;
object-fit: cover;
justify-content: space-between;
text-align: center;
transition: 1s;
}
.range img{
  width: 290px;
  height: 400px;
  box-shadow: none;
}
.range :hover{
 transform: scale(1.1); 
  z-index: 2;
  transition-delay:0.6s;
}
a{
  text-decoration: none;
  color: black;
}
h1{
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
}
.nav3 p,.partners p{
text-align: center;
}
.types {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: space-between;
  text-align: center;
  }
.types img{
  width: 290px;
  height: 400px;
  box-shadow: none;
  margin-top: 10px;
  border-radius: 10px;
}
li{
  margin-left: 450px;
}
#home,#abt,#expl{
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  width: 300px;
  margin-top: 20px;
  height: 80vh;
}
.form p{
 text-align: center;
}
.form input[type="text"],
.form input[type="password"] {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid gray;
}
.form input[type="submit"] {
  margin-top: 180px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: rgb(8, 8, 8);
  cursor: pointer;
  color: white;
}
#form input[type="submit"],#log input[type="submit"]{
  margin-top: 20px;
}
#log{
  height: 50vh;
}














